{
    "<HOST NAME>": {
        "fields": [
            {
                "key": "<FIELD NAME>",
                "contains": <PARTIAL VALUE>
            }
        ],
        "text": <EXPECTED TEXT>
    }
}